* {
  margin: 0;
  font-family:Inter,sans-serif;
}
.header {
  padding: 10px 45px;
  background-color: #283593;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  list-style: none;
  margin:0;
  padding:0;
}

.nav a {
  text-decoration: none;
  color: inherit;
  display:block;
  transition:all 0.3s ease-out;
}

.nav a:hover {
color:#c8c8ca;
transform:rotate(6deg);
 
}
.nav li {
  margin-left: 20px;
  font-size: 1rem;
  
}

.hero{
    background-color: #C5CAE9;
    display: flex;
   justify-content: center;
}

.hero-inner{
    padding: 60px 45px;
    max-width: 750px;
    line-height: 1.6;
}

.hero h1{
    font-weight: 500;
    line-height: 1.8;
    font-size: 3rem;
    margin:0;
}

.button{
  margin-top: 20px;
  background-color: #283593;
  color: #ffff;
  padding: 8px 20px;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
   
}

.button:hover{
  background-color: #3F51B5;
  transform:scale(1.02);
  transition:all 0.3s ease-out;
  color: #c8c8ca;
}
