* {
  margin: 0;
  font-family: Delius,sans-serif;
}
.header {
  padding: 10px 45px;
  background-color: #0066ff;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  list-style: none;
  margin:0;
  padding:0;
}

.nav a {
  text-decoration: none;
  color: inherit;
  display:block;
  transition:all 0.3s ease-out;
}

.nav a:hover {
color:#c8c8ca;
transform:rotate(6deg);
 
}
.nav li {
  margin-left: 20px;
  font-size: 1rem;
  
}
