* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:Inter,sans-serif;
}
.header {
  padding: 10px 45px;
  background-color: #283593;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  list-style: none;
  margin:0;
  padding:0;
}

.nav a {
  text-decoration: none;
  color: inherit;
  display:block;
  transition:all 0.3s ease-out;
}

.nav a:hover {
color:#c8c8ca;
transform:rotate(6deg);
 
}
.nav li {
  margin-left: 20px;
  font-size: 1rem;
  
}

.hero{
    background-color: #C5CAE9;
    display: flex;
   justify-content: center;
}

.hero-inner{
    padding: 60px 45px;
    max-width: 750px;
    line-height: 1.6;
}

.hero h1{
    font-weight: 500;
    font-size: 3rem;
    margin:0;
}

.hero p{
    font-size: 1.18rem;
    line-height: 1.6;

}

.button{
  margin-top: 20px;
  background-color: #283593;
  color: #ffff;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  font-size: 1.18rem;
   
}

.button:hover{
  background-color: #3F51B5;
  transform:scale(1.02);
  transition:all 0.3s ease-out;
  color: #c8c8ca;
}

.features{
    background-color: #E8EAF6;
    padding: 60px 45px;
}

.features-inner{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:2.5rem;
}


.feature-item h3{
     color:#283593;
     line-height: 1.8;
}

.feature-item p{
    font-size: 0.9rem;
    line-height: 1.6;
}